<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button class="back-button"
          defaultHref="/user-home"
          text="Volver"
          mode="ios"></ion-back-button>
    </ion-buttons>
    
    <ion-title class="title">Tipos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title class="ion-padding card-title">ENERGÍA SOLAR</ion-card-title>
    <ion-card-content #cc class="ion-padding card-content">
      La energía solar es el aprovechamiento de la energía que proviene del sol. El sol es una fuente de energía inagotable y abundante, la radiación solar se distribuye por todo el planeta de una forma más o menos uniforme.
    </ion-card-content>
    <a href="https://www.youtube.com/watch?v=5cVpl1WGmJA&ab_channel=ProgramaLCRD" target="_blank">
      <ion-img src="assets/img/card-1.jpg"></ion-img>
    </a>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-padding card-title">ENERGÍA EÓLICA</ion-card-title>
    <ion-card-content #cc class="ion-padding card-content">
      La energía eólica se obtiene de la fuerza del viento a través de un equipo llamado aerogenerador, que imita el funcionamiento de los molinos de viento. Las palas del equipo (hélice) giran con la fuerza del viento y producen energía eléctrica mediante un generador denominado ‘roto’ colocado en la estructura del equipo.
    </ion-card-content>
    <a href="https://www.youtube.com/watch?v=nbqqNVEve5U&ab_channel=Practicopedia" target="_blank">
      <ion-img src="assets/img/card-2.jpg"></ion-img>
    </a>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-padding card-title">ENERGÍA HIDROELÉCTRICA O HIDRÁULICA</ion-card-title>
    <ion-card-content #cc class="ion-padding card-content">
      La energía hidráulica se produce mediante la gravedad y el ciclo cerrado del agua, es decir, aprovechando la fuerza del agua para poner en marcha las turbinas (que suelen encontrarse en las presas) que generan corriente eléctrica.  En zonas en las que el cauce es continuo, especialmente en lagos y ríos, la propia acción del cauce es suficiente como para que la acción sea continua, exceptuando evidentemente períodos de sequía prolongada. Para que se pueda producir electricidad las puertas de las presas tienen que estar abiertas.    
    </ion-card-content>
    <a href="https://www.youtube.com/watch?v=Xx_Lxg4hCjc&ab_channel=ACCIONA" target="_blank">
      <ion-img src="assets/img/card-3.jpg"></ion-img>
    </a>    
  </ion-card>  

  <ion-card>
    <ion-card-title class="ion-padding card-title">ENERGÍA BIOMASA</ion-card-title>
    <ion-card-content #cc class="ion-padding card-content">
      La biomasa tiene como principio fundamental aprovechar todo tipo de materia, ya se de origen orgánico o inorgánico, para obtener energía. Es una de las energías más económicas y ecológicas y puede sustituir al carbón. 
    </ion-card-content>
    <a href="https://www.youtube.com/watch?v=s6OjgzC8IBQ&ab_channel=BIOPLAT" target="_blank">
      <ion-img src="assets/img/card-4.jpg"></ion-img>
    </a>
  </ion-card>
  
  <ion-card>
    <ion-card-title class="ion-padding card-title">ENERGÍA BIOGÁS</ion-card-title>
    <ion-card-content #cc class="ion-padding card-content">
      El biogás ha sido catalogado como uno de los bioenergéticos más potentes con base de obtención los residuos y desechos sólidos y orgánicos. El biogás es una compleja mezcla de metano (en un 50-70%), dióxido de carbono y otros gases. Es una energía renovable y su utilización es muy beneficiosa para la humanidad y el planeta.
    </ion-card-content>
    <a href="https://www.youtube.com/watch?v=G5bZEdZ5Cdw&ab_channel=MinisteriodeEnerg%C3%ADa-Chile" target="_blank">
      <ion-img src="assets/img/card-5.jpg"></ion-img>
    </a>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-padding card-title">ENERGÍA MAREOMOTRIZ Y UNDIMOTRIZ, LA ENERGÍA DEL MAR</ion-card-title>
    <ion-card-content #cc class="ion-padding card-content">
      El biogás ha sido catalogado como uno de los bioenergéticos más potentes con base de obtención los residuos y desechos sólidos y orgánicos. El biogás es una compleja mezcla de metano (en un 50-70%), dióxido de carbono y otros gases. Es una energía renovable y su utilización es muy beneficiosa para la humanidad y el planeta.
    </ion-card-content>
    <a href="https://www.youtube.com/watch?v=3G2u8XppHwI&ab_channel=Ecolog%C3%ADaVerde" target="_blank">
      <ion-img src="assets/img/card-6.jpg"></ion-img>
    </a>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-padding card-title">ENERGÍA GEOTÉRMICA</ion-card-title>
    <ion-card-content #cc class="ion-padding card-content">
      La energía geotérmica nace en el corazón de la tierra. Aprovecha las altas temperaturas de yacimientos bajo la superficie terrestre, normalmente volcánicos, para generar energía a través del calor, ya que suelen encontrarse a 100 o 150 grados centígrados.
    </ion-card-content>
    <a href="https://www.youtube.com/watch?v=RUhO7TBQ8MU&ab_channel=MinisteriodeEnerg%C3%ADa-Chile" target="_blank">
      <ion-img src="assets/img/card-7.jpg"></ion-img>
    </a>
  </ion-card>


</ion-content>