<ion-header>
  <ion-toolbar>
    <div class="center-div">
      <ion-title class="title1">GREN ENERGY</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="assets/img/inicio.jpg"></ion-img>
  <br><br><br><br>

  <div class="center-div">
    <ion-button class="button" routerLink="/login" shape="round">
      <ion-icon slot="start" name="log-in-outline">></ion-icon>
      Ingresar
    </ion-button>
  </div>
  <div class="center-div">
    <ion-button class="button" routerLink="/register" shape="round">
      <ion-icon slot="start" name="receipt-outline"></ion-icon>
      Registrar
    </ion-button> 
  </div>
  

</ion-content>
